{{template "layout.html" .}}

{{define "page"}}
{{$root := .}}
<form hx-get="?" hx-target="#page" hx-swap="innerHTML">
	<select name="type">
		<option value="">--None--</option>
		{{range $i, $t := .Data.EntityTypes}}
		<option {{if (eq (($root.URL.Query).Get `type`) $t.ID)}}selected{{end}} value="{{$t.ID}}">{{$t.ID}}</option>
		{{end}}
	</select>
	<button type="submit">filter</button>
</form>

<div class="actions">
	<h1>Entities</h1>
	<div>
		<a href="/entities:create" hx-boost>Create</a>
	</div>
</div>

{{if (not (eq ((.URL.Query).Get `paginationToken`) ""))}}
Results are paginated. <a hx-boost href="?type={{(.URL.Query).Get `type`}}">Reset filter</a>
{{end}}

<ul>
	{{template "entities" .}}
	<div id="entities"></div>
</ul>
{{end}}

{{define "entities"}}
  {{$root := .}}
	{{range $i, $e  := .Data.Entities}}
		<li
				{{if (eq $i (add (len $root.Data.Entities) -1))}}
				hx-get="?type={{($root.URL.Query).Get `type`}}&paginationToken={{$root.Data.PaginationToken}}" hx-target="#entities" hx-trigger="revealed" hx-swap="beforeend"
				{{end}}>
			<a href="/entities/{{$e.Type}}:{{$e.ID}}">{{$e.ID}} {{$e.Type}}</a> {{$e.Attrs}}
		</li>
{{end}}
{{end}}
